<%= form_for @chamber, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
		<div class="controls">
			<% if @chamber.title && !current_user.admin? %>
				<%= @chamber.title %>
			<% else %>
				<%= f.text_field :title, :class => 'text_field' %>
			<% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :about, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :about, :class => 'text_area' %>
    </div>
  </div>
	<div class="control-group">
    <%= f.label :assembly, "Parent Assembly", :class => 'control-label' %>
    <div class="controls">
			<%= f.select :assembly_id, Assembly.all.sort{|a,b| a.path <=> b.path}.map{|x| [x.path, x.id]}, :class => 'text_area' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
