<%= form_for @ballot do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :anonymous %><br />
    <%= f.check_box :anonymous %>
	<i>People can't see how other people voted on an anonymous ballot</i>
  </p>
  <table>
  <tr>
  <td>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  </td><td>
  <p>
  Options - 1 per line<br/>
    <%= f.text_area :options_raw %>
  </p>
  </td></tr></table>
  <p>
    <%= f.hidden_field :creator_id, :value => current_user.id %>
	<%= f.hidden_field :chamber_id, :value => params[:chamber_id] || @ballot.chamber_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
