<%= form_for [@chamber, @ballot] do |f| %>
	<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
	</p>
	<p>
	<%= f.label :anonymous %>
	<%= f.check_box :anonymous %>
	<i>People can't see how other people voted on an anonymous ballot</i>
	</p>
	<table>
		<tr>
			<td>
				<%= f.label :content %><br />
				<%= f.text_area :content %>
				</td><td>
				Options - 1 per line<br/>
				<%= f.text_area :options_raw %>
	</td></tr></table>
	<p>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.hidden_field :closed, :value => false %>
	<%= f.hidden_field :chamber_id, :value => @chamber.id %>
	</p>
	<p><%= f.submit "Create Ballot", :class => 'btn btn-primary, btn-large' %></p>
<% end %>

