<div width="100%">
<div class="span6">
<h1><%= @user.name %><% if @user.online? %><span style="color: #4f4;"> - Online</span><% end %></h1>
<div> 
	<dl class="dl-horizontal">
<dt><strong>Username:</strong></dt>
<dd><%= @user.username %></dd>
<dt><strong>Email:</strong></dt>
<dd><%= @user.email %></dd>
<dt><strong>Administrator:</strong></dt>
<dd><%= truthy_thumb @user.administrator %></dd>
</dl>
	<%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-info' if (current_user && (current_user.admin? || @user == current_user)) %>
</div>

<h2>Groups</h2>
<p><%= @user.name %> belongs to these security groups: </p>
<%= pills_for @user.groups %>


<h2>Chambers</h2>
<p><%= @user.name %> can participate in these chambers: </p>
<%= pills_for @user.chambers %>

<h2>Titles</h2>
<p><%= @user.name %> holds the following titles:</p>
<% if @user.titles.count > 0 %>
	<ul>
		<% @user.chambers.each do |ch| %>
			<% tx = ch.titles.delete_if{|t| !t.users.include?(@user)} %>
			<% if tx.count > 0 %>
				<li> <%= can(:read, ch) ? link_to(ch.title, ch) : ch.title %></li>
				<ul>
					<% tx.each do |title| %>
						<li><b><%= title.title %></b></li>
					<% end %>
				</ul>
			<% end %>
		</ul>
	<% end %>
	<% else %>
		<p>No titles found.</p>
	<% end %>

</div>

<div class="span4 offset1">
	<h2>Recent Activity</h2>
	<% @user.logs.order("created_at DESC").limit(20).each do |log| %>
		<%= log_box(log).html_safe %>
			<% end %>
</div>
</div>
