<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/">Senate</a>
			<div class="container nav-collapse">
				<ul class="nav">
					<% if current_user %>
						<li><%= link_to i('user') + "Log Out", '/sessions/destroy' %></li>
						<li><%= link_to i('edit') + current_user.name, current_user %></li>
						<li class="divider-vertical"></li>
						<li><%= link_to i('briefcase') + "Chambers", chambers_path %></li>
						<% if current_user.admin? %>
							<li><%= link_to i('user') + "Users", users_path %></li>
							<li><%= link_to i('list-alt') + "Groups", groups_path %></li>
						<% end %>
					<% else %>
						<li><%= link_to "Log In", '/' %></li>
					<% end %>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
