<% content_for :left do %>
<h2>News</h2>
			<% if @news.length > 0 %>
				<% @news.each do |news| %>
					<%= render :partial => 'news_items/news', :locals => {:item => news} %>
				<% end %>
			<% else %>
				<p>No news items!</p>
			<% end %>

			<p><%= link_to("Submit New News", new_news_item_path, :class => 'btn btn-primary') if current_user && current_user.admin? %></p>
		<% end %>
		<% if current_user %>
				<h2>Your Chambers</h2>

				<% current_user.chambers.each do |chamber| %>
					<%= render :partial => 'chambers/short_chamber', :locals => {:item => chamber} %>
				<% end %>
			<% else %>
				<h1>Log in</h1>  

				<%= form_tag sessions_path, :method => :post do %> 
					<%= hidden_field_tag :return, params[:return] %>
					<p>  
					<%= label_tag :username %><br />  
					<%= text_field_tag :username, params[:username] %>  
					</p>  
					<p>  
					<%= label_tag :password %><br />  
					<%= password_field_tag :password %>  
					</p>  
					<p class="button"><%= submit_tag "Log In", :class => 'btn btn-primary btn-large'%></p>  
				<% end %>  

			<% end %>
