<div class="proposal">
	<p>Posted <%= item.created_at.strftime("%m/%d/%y %I:%M") %><br/>
	<% if item.is_a? Announcement %>
		in <%= link_to item.chamber.title, item.chamber %><br/>
	<% end %>
	by <%= link_to ((item.is_a?(Announcement) && item.chamber) ? item.user.titleize(item.chamber): item.user.name), item.user %>, <p>

	<%= markdown item.content %>
	<% if current_user && current_user.admin? %>
		<% path = (item.is_a?(NewsItem) ? item : [item.chamber, item]) %>
		<div class="announce_foot">
			<%= link_to "Delete", path, :method => :delete, :class => 'btn btn-danger btn-mini', :confirm => "Really delete announcement?" %>
		</div>
	<% end %>
</div>
