<p id="notice"><%= notice %></p>

<p>
  <b>Priority:</b>
  <%= @permission.priority %>
</p>

<p>
  <b>Securable:</b>
  <%= @permission.securable_id %>
</p>

<p>
  <b>Securable type:</b>
  <%= @permission.securable_type %>
</p>

<p>
  <b>Principal:</b>
  <%= @permission.principal_id %>
</p>


<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
