<%= form_for @proposal_remark do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :proposal_id %><br />
    <%= f.text_field :proposal_id %>
  </p>
  <p>
    <%= f.label :remark %><br />
    <%= f.text_field :remark %>
  </p>
  <p><%= f.submit %></p>
<% end %>
