<div class="proposal">
	<%= link_to [@chamber, item] do %><h3><%= item.title %></h3><% end %>
	<%= markdown item.notes %>
	<div class="announce_foot">
		<%= link_to(pluralize(item.count_children, "Comment"), [@chamber, item], :class => 'btn btn-info btn-mini') if item.comments.count > 0%>
		<%= link_to "Reply", chamber_board_path(@chamber, item), :class => 'btn btn-mini btn-inverse' if can(:write, item) %>
		<% if can(:execute, item) %>
		<%= link_to "Delete", [@chamber, item], :method => :delete, :class => 'btn btn-danger btn-mini', :confirm => "Really delete announcement?" %>
		<%= link_to "Permissions", chamber_board_permissions_path(@chamber, item), :class => 'btn btn-info btn-mini' %>
	<% end %>
</div>
<% if @tags %>
	<p>
	Tagged with: <%= item.tag_list %>
	</p>
<% end %>
</div>
