<div class="proposal">
	<h3>Proposal #<%= item.id %> - <%= item.title %></h3>
	<h4>Proposed by <%= link_to (@chamber ? item.user.titleize(@chamber): item.user.name), item.user %> <%= time_delta item.created_at %></h4>
	<h4>Proposal Score: <%= item.score || 0 %> - <%= link_to "See Details", inspect_chamber_proposal_path(@chamber, item) %></h4>
	<%= markdown item.content %>


	<% if item.closed %>
		<p>This proposal is closed.</p>
		<%= link_to("Comments", [@chamber, item], :class => 'btn btn-info btn-mini') %>
	<% else %>

		<% if item.voted? current_user %>
			<p>You voted alredy! <%= link_to "Cancel your vote", cancel_chamber_proposal_path(@chamber, item), :class => 'btn btn-mini btn-warning'  %></p>
		<% else %> 	
			<%= form_tag vote_chamber_proposal_path(@chamber, item) do |f| %> 
				<%= hidden_field_tag :proposal_id, item.id %> 
				<%= hidden_field_tag :user_id, current_user.id %>
				<% if can(:write, item) %>
					What do you think: 	
					<table width="20%">
						<tr>
							<td><a href="#" rel="tooltip" title="Really don't like" onClick="$('#remark_-2').click();"><%= i "thumbs-down" %><%= i "thumbs-down" %></a></td>
							<td><a href="#" rel="tooltip" title="Don't like" onClick="$('#remark_-1').click();"><%= i "thumbs-down" %></a></td>
							<td><a href="#" rel="tooltip" title="Neutral" onClick="$('#remark_0').click();"><%= i "asterisk" %></a></td>
							<td><a href="#" rel="tooltip" title="Like" onClick="$('#remark_1').click();"><%= i "thumbs-up" %></a></td>
							<td><a href="#" rel="tooltip" title="Really like" onClick="$('#remark_2').click();"><%= i "thumbs-up" %><%= i "thumbs-up" %></a></td>
						</tr>
						<tr>
							<td><%= radio_button_tag :remark, -2 %></td>
							<td><%= radio_button_tag :remark, -1 %></td>
							<td><%= radio_button_tag :remark, 0 %></td>
							<td><%= radio_button_tag :remark, 1 %></td>
							<td><%= radio_button_tag :remark, 2 %></td>
						</tr>
						</table>

							<%= submit_tag "Submit", :class => 'btn btn-success btn-mini' %>

						<% end %>
					<% end %>
				<% end %>
				<div class="announce_foot">
					<% if can(:read, item) %>
						<%= link_to("Comments", [@chamber, item], :class => 'btn btn-info btn-mini') %>
						<%= link_to "Reply", [@chamber, item], :class => 'btn btn-mini btn-inverse' if can(:write, item) %>
					<% end %>



					<% if can(:execute, item) %> 
						<%= link_to "Close", close_chamber_proposal_path(@chamber, item), :class => 'btn btn-warning btn-mini' %>  
						<%= link_to "Delete", [@chamber, item], :method => :delete, :class => 'btn btn-danger btn-mini' %> 
						<%= link_to "Permissions", chamber_proposal_permissions_path(@chamber, item), :class => 'btn btn-mini btn-info' %>
					<% end %>
				</div>
			<% end %>

		</div>
