<%= form_for @assembly, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :parent, :class => 'control-label' %>
    <div class="controls">
			<%= f.select(:parent_id, [["None",nil]] + Assembly.all.sort{|a,b| a.path <=> b.path}.map{|x| [x.path, x.id]}, {:selected => params[:parent_id].to_i}, {:class => 'span6'}) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "Cancel", assemblies_path, :class => 'btn' %>
  </div>
<% end %>
