<%
	@short = true
	if @assembly.parent != nil
		@arr = []
		x = @assembly.parent
		while x != nil
			@arr << x
			x = x.parent
		end
	@arr.reverse!
	end
%>

<% if @assembly.parent %>
	<p>
		<%= link_to @arr[0].name, @arr.delete_at(0) %>
		<% @arr.each do |a| %>
			&gt; <%= link_to a.name, a %>
		<% end %>
	</p>
<% end %>
<h1><%= @assembly.name %></h1>

<%= recurse_assemblies @assembly, "long" %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              assemblies_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_assembly_path(@assembly), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              assembly_path(@assembly),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
