<%
	@short = true
	if @assembly.parent != nil
		@arr = []
		x = @assembly.parent
		while x != nil
			@arr << x
			x = x.parent
		end
	@arr.reverse!
	end
%>

<% if @assembly.parent %>
	<p>
		<% @arr.each do |a| %>
			 <%= link_to a.name, a %> &gt;
		<% end %>
	</p>
<% end %>
<h1><%= @assembly.name %></h1>

<%= recurse_assemblies @assembly, "long" %>
<% if current_user.admin? %>
	<div class="form-actions">
		<%= link_to "New Sub-Assembly", new_assembly_path(:parent_id => @assembly), :class => "btn btn-primary" %>
  <%= link_to "Edit", edit_assembly_path(@assembly), :class => 'btn' %>
  <%= link_to "Delete", assembly_path(@assembly), :method => 'delete', :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger' if @assembly.assemblies.count == 0 && @assembly.chambers.count == 0%>
						</div>
					<% end %>
